.Category-cardSliderMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 30vh;
  /* background-color: red; */
}
Slider {
  margin: 41px 111px;
  width: 90vw;
}
.cardSliderContainer {
  width: 80%;
  height: 95%;
  /* background-color: yellow; */
}
/* .slick-slide {
  margin-left: 0px;
} */
.slick-prev:before {
  color: rgb(185, 184, 184) !important;
  background-color: #eee;
}
.slick-next:before {
  color: rgb(185, 184, 184) !important;
  background-color: #eee;
}
